# Always ignore itself and Git
.gcloudignore
.git
.gitignore

# Node.js dependencies (App Engine will install these on deploy)
node_modules/

# Ignore tests and local env files
test/
*.log
.env

# DO NOT ignore package.json, package-lock.json, or source files
